.cart{
    width:50px;
    overflow:auto;
}


.cart-image {
  width:80%;
  background-color: #fff;
  display:inline-block;
  float: left;
  border-radius: 4px;
  margin-bottom:100px
}

.summary {
  background-color:LightGray;
  display:inline-block;
  margin-left : 30px;
  margin-top : 10px
}
.image{
    margin-left: 20px;
    margin-bottom: 20px;
    display:inline-block;
    float:left;
    margin-right: 40px;
}

.name{
    margin-left: 50px;

}



.Total{
    font-size: 20px;
}

